<!DOCTYPE html>
<html>
  <head>
    <title>Devise</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<%if admin_signed_in?%>

  		zalogowano
  		<li><%=link_to "log out", destroy_admin_session_url, :method=> 'delete' %></li>
  	<%else%>
  		<li><%=link_to "log in", new_admin_session_url%></li>
  		niezalogowano	
  	<%end%>
    <%= yield %>
  </body>
</html>
